<!DOCTYPE html>
<html>
<head>
  <title>Sort Students by Campus</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <table class="campuses">
    <thead>
      <tr>
        <th>Location</th>
        <th>Abbreviation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>San Francisco</td>
        <td>SF</td>
      </tr>
      <tr class="even">
        <td>San Diego</td>
        <td>SD</td>
      </tr>
      <tr>
        <td>Seattle</td>
        <td>SEA</td>
      </tr>
      <tr class="even">
        <td>Chicago</td>
        <td>CHI</td>
      </tr>
      <tr>
        <td>New York City</td>
        <td>NYC</td>
      </tr>
    </tbody>
  </table>

  <form action="/campuses" method="POST">
    <p>Please enter the campus abbreviation you would like to view</p>
    <!-- <input type="text" name="campus" placeholder="Campus">
    <button type="submit">View</button>
  </form> -->


  <select name="campus">
    <option value="SF">San Francisco</option>
    <option value="SD">San Diego</option>
    <option value="SEA">Seattle</option>
    <option value="CHI">Chicago</option>
    <option value="NYC">New York City</option>
  </select>
</form>
</body>
</html>
