<!DOCTYPE html>
<html>
<head>
  <title>Sort Students by Campus</title>
</head>
<body>
  <form action="/campuses" method="POST">
    <p>What campus would you like to view?</p>
    <!-- <input type="text" name="name" placeholder="Name"> -->
    <input type="text" name="campus" placeholder="Campus">
    <!-- <input type="text" name="age" placeholder="Age"> -->
    <button type="submit">View</button>
  </form>
  <!--
  <select name="Campuses">
    <option value="SF">San Francisco</option>
    <option value="SD">San Diego</option>
    <option value="SEA">Seattle</option>
    <option value="CHI">Chicago</option>
    <option value="NYC">New York City</option>
  </select>
</form> -->
</body>
</html>
